<app-modal tipo="Contatos" [opcoesFiltro]="opcoesFiltro" [onAbrirModalFiltro]="onAbrirModalFiltro"
  (onEnviarFiltro)="filtrar($event)"></app-modal>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 mx-auto mt-5">

      <div class="text-md-start">
        <h1 class="fw-bold text-primary">Listar Contatos</h1>
        <hr />
      </div>

      <div class="d-grid d-md-flex gap-3 mt-5">

        <a [routerLink]="['/contatos/inserir']" role="button" class="btn btn-primary me-md-1">
          <i class="bi bi-plus-circle me-2"></i>
          Novo Contato
        </a>

        <button class="btn btn-md btn-outline-primary" (click)="abrirFiltro()"><i class="bi bi-filter-circle-fill"></i>
          Filtrar Contatos</button>
      </div>

      <div class="mt-5 row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-10" *ngFor="let contato of contatos">
          <app-card-contato (onEditarContato)="editar($event)" (onExcluirContato)="excluir($event)"
            (onFavoritarContato)="alterarFavorito($event)" (onDetalhesContato)="detalhes($event)" class="col-4"
            [contato]="contato"></app-card-contato>
        </div>
      </div>

    </div>
  </div>
</div>