<div class="card mb-2">
    <div class="card-header text-bg-{{tema}}">
        <h5 class="card-title"><small>Assunto: </small>{{compromisso.assunto | uppercase}}</h5>
        <h6 class="card-subtitle mb-2"><small>Contato: </small>{{compromisso.nomeContato}}</h6>
    </div>
    <div class="card-body">
        <p class="card-text"><strong>Data:</strong> <span style="float: right;"> {{compromisso.data | date}}</span></p>
        <p class="card-text"><strong>Hora Início:</strong> <span style="float: right;">
                {{compromisso.horaInicio}}</span></p>
        <p class="card-text"><strong>Hora Final:</strong> <span style="float: right;">{{compromisso.horaTermino}}</span>
        </p>
    </div>
    <hr class="m-0">
    <div class="d-flex justify-content-center gap-3 m-2">
        <button (click)="detalhes(compromisso)" class="btn btn-outline-{{tema}}" aria-label="Detalhes"
            ngbTooltip="Detalhes" placement="bottom">
            <i class="bi bi-eye"></i>
        </button>
        <button (click)="editar(compromisso)" class="btn btn-outline-{{tema}}" aria-label="Editar" ngbTooltip="Editar"
            placement="bottom">
            <i class="bi bi-pen"></i>
        </button>
        <button (click)="excluir(compromisso)" class="btn btn-outline-{{tema}}" aria-label="Excluir" ngbTooltip="Excluir"
            placement="bottom">
            <i class="bi bi-trash"></i>
        </button>
    </div>
</div>