<app-filtro-compromissos (onEnviarFiltro)="filtrarCompromissos($event)"
    [onAbrirModalFiltro]="onAbrirModalFiltro"></app-filtro-compromissos>

<div class="container">
    <div class="row">
        <!-- Conteúdo principal -->
        <div class="col-12 col-md-10 col-lg-9 mx-auto mt-5">
            <!-- Titulo -->
            <div class="text-md-start">
                <h1 class="fw-bold text-primary">Listar Compromissos</h1>
                <hr />
            </div>

            <!-- Barra de Ações -->
            <div class="d-grid d-md-flex gap-2 mt-5">
              
                    <a [routerLink]="['/compromissos/inserir']" role="button" class="btn btn-primary me-md-1">
                        <i class="bi bi-plus-circle me-2"></i>
                        Novo Compromisso
                    </a>
               
                <button class="btn btn-md btn-outline-primary" (click)="abrirFiltro()"><i
                        class="bi bi-filter-circle-fill"></i> Filtrar Compromissos</button>
            </div>
        </div>

        <div class="mt-5 row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-10 " *ngFor="let compromisso of compromissos">
                <app-card-compromisso (onEditarCompromisso)="editar($event)" (onExcluirCompromisso)="excluir($event)"
                    (onDetalhesCompromisso)="detalhes($event)" [compromisso]="compromisso"></app-card-compromisso>
            </div>
        </div>

    </div>
</div>