<div class="container">
    <div class="row">
        <!-- Conteúdo principal -->
        <div class="col-12 col-md-10 col-lg-9 mx-auto my-5">
            <!-- Titulo -->
            <div class="text-md-start">
                <div class="text-md-start">
                    <h1 class="fw-bold text-primary">Detalhes Categoria</h1>
                    <hr />
                </div>

                <h2 class="fs-5">
                    <span class="fw-bolder fst-italic">{{categoria.titulo | uppercase}} </span>
                </h2>
                <hr class="m-0 mb-2 col-lg-6 col-sm-12">

                <div *ngIf="categoria.despesas.length > 0">
                    <h3 class="fs-4 text-primary my-3">Despesas Relacionadas</h3>
                    <div *ngFor="let despesa of categoria?.despesas index as i">

                        <dl class="form-group row">
                            <dt class="col-md-4">
                                <label class="control-label fst-italic fs-5 text-secondary">#{{i + 1}}</label>
                            </dt>
                            <dd></dd>
                            <dt class="col-md-4">
                                <label class="control-label">Descrição:</label>
                            </dt>
                            <dd class="col-md-8">
                                {{despesa.descricao}}
                            </dd>

                            <dt class="col-md-4">
                                <label class="control-label">Valor:</label>
                            </dt>
                            <dd class="col-md-8">
                                {{despesa.valor | currency:'R$'}}
                            </dd>

                            <dt class="col-md-4">
                                <label class="control-label">Data:</label>
                            </dt>
                            <dd class="col-md-8">
                                {{despesa.data | date:'dd/MM/yyyy'}}
                            </dd>

                            <dt class="col-md-4">
                                <label class="control-label">Forma de Pagamento:</label>
                            </dt>
                            <dd class="col-md-8">
                                {{despesa.formaPagamento}}
                            </dd>
                            <hr class="m-0 mb-2 col-lg-6 col-sm-12">
                        </dl>
                    </div>
                </div>

                <div class="card-footer g-grid d-flex gap-1 my-5">
                    <button [routerLink]="['/categorias/listar']" type="button" class="btn btn-outline-primary px-5">
                        <i class="bi bi-arrow-return-left me-2"></i>
                        Voltar
                    </button>
                </div>

            </div>
        </div>
    </div>