<app-modal tipo="Despesas" [opcoesFiltro]="opcoesFiltro" [onAbrirModalFiltro]="onAbrirModalFiltro"
    (onEnviarFiltro)="filtrar($event)"></app-modal>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-9 mx-auto mt-5 flex-column">
            <div class="text-md-start">
                <h1 class="fw-bold text-primary">Listar Despesas</h1>
                <hr />
            </div>

            <div class="d-grid d-md-flex gap-2 mt-5">
                <a [routerLink]="['/despesas/inserir']" role="button" class="btn btn-primary me-md-1">
                    <i class="bi bi-plus-circle me-2"></i>
                    Nova Despesa
                </a>

                <button class="btn btn-md btn-outline-primary" (click)="abrirFiltro()"><i
                        class="bi bi-filter-circle-fill"></i>
                    Filtrar Despesas</button>

            </div>

            <div class="mt-5 row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-10" *ngFor="let despesa of despesas">
                    <app-card-despesas (onEditarDespesa)="editar($event)" (onExcluirDespesa)="excluir($event)"
                        (onDetalhesDespesa)="detalhes($event)" [despesa]="despesa"></app-card-despesas>
                </div>
            </div>
        </div>
    </div>
</div>